.mx-w{
    max-width: 900px;
    margin: 0 auto;
}
.grid {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}
.tac{
    padding: 20px;
    text-align: center;
    background-color: #ff8fb4;
}
.aic {
    align-items: center;
}
.footer{
    margin: 40px auto 0;
    /* background-image: url(""); */
}
.footer ul li {
    list-style-type: none;
    margin-right: 20px;
    padding: 5px;
}
.footer a {
    text-decoration: none;
    color: black;
}
.contact{
    padding: 20px;
    max-width: 200px;
    margin: 0 auto;
}
.footer-img{
    padding: 50px;
}