<div class="mx-w footer grid aic">
    <div>
        <ul class="h-links">
            <li *ngFor="let data of footerlinks"><a href="">{{data}}</a></li>
        </ul>
    </div>
    <div class="footer-img"><img src="assets/logo.jpg" /></div>
    <div class="contact">
        <h2>Grocery</h2>
        <p>The Grocery Limited, ABC House, 123 City, India</p>
        <p>
            <b>Contact:</b><br><br>
            +91 1234567890<br>
            abc123gmail.com
        </p>
    </div>
</div>
<p class="tac">Privacy Policy, Copy rights</p>