.grid {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.pos-ab {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.mx-w {
    margin: 0 auto;
    max-width: 1280px;
}

img {
    width: 100%;
}

.header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 10px 10px 50px -40px;
    border-top: 5px solid #ff4081;
}

.w100 {
    width: 100%;
}

.bo-r {
    border-radius: 10px;
}

.header ul li {
    list-style-type: none;
    margin-right: 20px;
    padding: 5px;
}

.header .mx-w>div:first-child {
    max-width: 120px;
}

.header a {
    text-decoration: none;
    color: black;
}

.search-icon {
    max-width: 30px;
}

.header input {
    /* background-image: url("./search1.png"); */
    background-image: url('data:image/svg+xml,<svg width="16" height="20" fill="pink" viewBox="0 0 17 18" class="" xmlns="http://www.w3.org/2000/svg"><g fill="%232874F1" fill-rule="evenodd"><path class="EwE-Fa" d="m11.618 9.897l4.225 4.212c.092.092.101.232.02.313l-1.465 1.46c-.081.081-.221.072-.314-.02l-4.216-4.203"></path><path class="EwE-Fa" d="m6.486 10.901c-2.42 0-4.381-1.956-4.381-4.368 0-2.413 1.961-4.369 4.381-4.369 2.42 0 4.381 1.956 4.381 4.369 0 2.413-1.961 4.368-4.381 4.368m0-10.835c-3.582 0-6.486 2.895-6.486 6.467 0 3.572 2.904 6.467 6.486 6.467 3.582 0 6.486-2.895 6.486-6.467 0-3.572-2.904-6.467-6.486-6.467"></path></g></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    width: 30%;
    height: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.h-btn-1 {
    padding: 15px 18px;
    color: black;
    margin: 5px;
    box-shadow: inset 0 0 0 1px #FB9AD1;
    border: 0px;
    transition-duration: 0.3s;
}

.h-btn-1:hover {
    box-shadow: inset 0 0 0 2px #FB9AD1;
}

.h-btn-2 {
    background-image: url(./cart-project.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 2px;
    background-position-y: 1px;
    padding: 15px 5px 15px 50px;
    background-color: #FB9AD1;
    color: white;
    margin: 5px;
    transform: scale(1);
}

.h-btn-2:hover {
    background-color: #ff0090;
    transition: 0.2s linear;
    transform: scale(1.03);
}

.cart-numb {
    top: -7px;
    right: 53px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.header .h-links li:hover {
    background-color: #ff4081;
    border-radius: 5px;
}
.header .h-links li:hover a{color: white;}

